@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@font-face {
    font-family: 'GoodDog';
    src: url(./fonts/good_dog/GOODDP__.TTF) format('truetype');
}

@font-face {
    font-family: 'HelveticaNow';
    src: url(./fonts/helvetica-now-font-family-1727953346-0/helveticanowtext-black-demo.ttf) format('truetype');
}

body {
    margin: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
    background: radial-gradient(circle, #1B1E56, #0D0D2B);
    color: #E5E5E5;
}

/* CSS del header */
/* header y nav */
header {
    flex: 0 0 10vh;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    height: 4.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(8px);
    transition: transform 0.4s ease-in-out;
}
/* Animación para ocultar y mostrar el header */
header.hide-header {
    transform: translateY(-100%);
    transition: transform 0.4s ease-in-out;
}

header.show-header {
    transform: translateY(0);
    transition: transform 0.4s ease-in-out;
}



nav {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-spacer {
    flex-grow: 1;
}

.logo {
    flex-shrink: 0;
    display: flex;
    align-items: center;
}

.logo-img {
    padding-left: 15px;
    height: 1.5rem; /* 35px */
    cursor: pointer;
    transition: transform 0.3s ease;
}

/* .logo-img:hover {
    transform: scale(1.05);
} */

.auth-links {
    display: flex;
    align-items: center;
    gap: 1.125rem;
    margin-left: auto; /* Empuja todo a la derecha */
    padding-right: 15px;
}

.auth-links a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    padding: 0.375rem 0;
    border-bottom: 0.125rem solid transparent;
    transition: border-color 0.3s ease;
    font-size: 1rem;
}

.auth-links a:hover {
    border-color: #F72585;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 1.125rem;
}

.welcome-message {
    font-size: 0.95rem;
    color: #ccc;
}

.profile-pic {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    object-fit: cover;
    border: 0.125rem solid #F72585;
}

.mobile-menu-icon {
    width: 1.875rem;
    height: 1.875rem;
    display: none;
    cursor: pointer;
    margin-left: 1rem;
}

/* Responsive styles */
@media (max-width: 48rem) {
    header {
        height: auto;
        padding: 0.625rem 0;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .auth-links,
    .nav-right {
        display: none;
        flex-direction: column;
        width: 100%;
        gap: 0.625rem;
        margin-top: 0.625rem;
    }

    .auth-links.active,
    .nav-right.active {
        display: flex;
    }

    .mobile-menu-icon {
        display: block;
        align-self: flex-end;
        margin-right: 0.625rem;
    }
}


/* Fin CSS del header */

main {
    padding-top: 80px;
    text-align: center;
    color: #E5E5E5;
    font-family: 'GoodDog', Arial, sans-serif;
}

h2 {
    font-family: 'HelveticaNow', sans-serif;
    background: linear-gradient(90deg, #F72585, #4361EE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.create-post-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #F72585;
    color: white;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.create-post-btn:hover {
    background-color: #4361EE;
}

.posts-container {
    width: 80%;
    max-width: 800px;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.post {
    background: rgba(255, 255, 255, 0.1);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #E5E5E5;
}

.post-header {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin-bottom: 0.5rem;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.username {
    font-family: 'HelveticaNow', sans-serif;
    background: linear-gradient(90deg, #F72585, #4361EE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1rem;
    font-weight: bold;
}

.post-date {
    font-size: 0.85rem;
    color: #A9A9A9;
    margin-left: auto;
}

.post-content p {
    margin: 0.75rem 0 0.5rem 1rem;
    text-align: start;
}

.post-image {
    width: auto;
    max-width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 5px;
    margin-top: 0.5rem;
}

.reactions-container{
    width: auto;
    padding: 1rem 0 0 0;
    text-align: start;
    display: flex;
    flex-direction: row;
}

.reactions-container button{
    background: transparent;
    border: none;
    padding: 6px 10px;
    color: white;
    font-size: 1.1rem;
}

.reactions-container button:hover{
    cursor: pointer;
}

.comment {
    background: rgba(255, 255, 255, 0.1);
    padding: 0.8rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.comment-header {
    display: flex;
    align-items: center; 
    gap: 10px; 
}

.profile-pic {
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
}

.comment-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    width: 100%; /* Esto asegura que ocupe el ancho completo */
}

.comment-date {
    font-size: 0.85rem;
    color: #A9A9A9;
    margin-bottom: 0.25rem;
    align-self: flex-end; /* Alinea la fecha a la derecha */
}

.comment-username {
    font-family: 'HelveticaNow', sans-serif;
    background: linear-gradient(90deg, #F72585, #4361EE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1rem;
    margin-bottom: 0.25rem;
    font-weight: bold;
}

.comment-text {
    margin-top: 0.5rem;
    text-align: start;
}

.comment-btn{
    background: linear-gradient(90deg, #F72585, #4361EE);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.comment-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.comment-input{
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #E5E5E5;
}

.delete-btn {
    background: none;  /* Elimina el fondo */
    border: none;  /* Elimina el borde */
    cursor: pointer;  /* Hace que parezca un botón */
    font-size: 16px;  /* Ajusta el tamaño si es necesario */
    color: red;  /* Color rojo para mayor visibilidad */
    padding: 5px; /* Ajusta el espaciado si es necesario */
}

.delete-btn:hover {
    color: darkred; /* Oscurece el color al pasar el mouse */
}




/* scrollbar */
::-webkit-scrollbar {
  width: 10px;               /* ancho vertical */
  height: 10px;              /* alto horizontal */
}

::-webkit-scrollbar-track {
  background: #0f1123;       /* color del fondo del track */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #ff0080, #7928ca); /* gradiente Gameverse */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #ff66a5, #9b4dff); /* más claro al pasar el ratón */
}