body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: radial-gradient(circle, #1B1E56, #0D0D2B);
    color: #E5E5E5;
}

/* CSS del header */
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.welcome-message{
    margin: auto;
}

.logo img {
    height: 3rem;
}

.auth-links {
    display: flex;
    gap: 1rem;
}

.auth-links a {
    text-decoration: none;
    color: #E5E5E5;
    font-weight: bold;
    background: #1B1E56;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background 0.3s ease, color 0.3s ease;
    margin: auto;
}

.auth-links a:hover {
    background: linear-gradient(90deg, #F72585, #4361EE);
    color: #E5E5E5;
}

.search-bar-wrapper {
    background: linear-gradient(90deg, #F72585, #4361EE);
    border-radius: 25px;
    padding: 3px;
    display: inline-block;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: #1B1E56;
    border-radius: 25px;
    padding: 0.5rem;
    width: 400px;
    max-width: 90%;
}

.search-bar input {
    flex: 1;
    border: none;
    outline: none;
    background-color: transparent;
    color: #E5E5E5;
    font-size: 1rem;
}

.search-bar input::placeholder {
    color: #A9A9A9;
}

.search-bar button {
    background-color: #1B1E56;
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 50%;
    cursor: pointer;
    color: #1B1E56;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.search-bar button:hover {
    background: linear-gradient(90deg, #F72585, #4361EE);
    color: #E5E5E5;
}

.mobile-menu-icon{
    display: none;
}

.mobile-menu{
    display: none;
}

@media (max-width: 768px) {
    .search-bar{
        display: none;
    }

    .auth-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 10px;
        background: rgba(0, 0, 0, 0.9);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        padding: 10px;
        border-radius: 5px;
    }

    .auth-links.show {
        display: flex;
    }

    .mobile-menu-icon{
        display: block;
        width: 50px;
    }

    .mobile-menu{
        position: absolute;
        background: #F72585;
        z-index: 1000;
        display: none;
        flex-direction: column;
        width: 75%;
        height: 100%;
        right: 0;
        bottom: 0;
        text-align: center;
        justify-content: center;
    }
    
    .mobile-menu .welcome-message{
        margin: 0;
    }
    
    .mobile-menu a{
        color: #1B1E56;
        font-weight: 600;
        text-decoration-line: none;
        font-size: 1.5rem;
        margin-top: 1rem;
    }
    
    .mobile-menu-header{
        display: flex;
        flex-direction: row;
        margin: 0 auto 50px auto;
        gap: 20px;
        align-items: center;
    }
}

/* Fin CSS del header */

.create-publication-form {
    margin: 10% auto;
    padding: 2rem;
    background-color: #00022f;
    border-radius: 8px;
    width: 75%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (max-width: 768px){
        margin-top: 50%;
    }
}

.create-publication-form textarea {
    width: 90%;
    padding: 1rem;
    border-radius: 5px;
    border: none;
    resize: vertical;
    font-size: 1rem;
    color: #333;
    margin: 20px auto;
}

.create-publication-form input[type="file"] {
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.create-publication-form button {
    background-color: #F72585;
    border: none;
    padding: 1rem;
    width: 100%;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.create-publication-form button:hover {
    background-color: #4361EE;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}